body{
    background-image: url("../img/fuji.jpg");
    background-size: 1300px;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.caja{
    width: 300px;
    height: 300px;
    font-size: 50px;
    margin-top: 20px;
    padding: 20px; /*margen interno*/
    border-radius: 10px;
}

.rojo{
    /*background-color: red;*/
    border: 4px dashed red;
}

.verde{
    background-color: green;
    border: 3px dotted red;
}

.azul{
    background-color: blue;
    border: 5px solid red;
}