body{
    margin: 0;
    padding: 0;
    background-color: lightgray
}

.title{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 5px;
}

.contenido-principal{
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin: 0 auto;
}

.contenido-principal .encabezado{
    background-color: gray;
    color:white;
    padding: 5px 5px;
}

.contenido {
    width: 80%;
    margin: 0 100px;
}

.contenido-principal .contenido-imagen{
    float:left;
}

.contenido-principal .contenido-imagen img{
    width: 100px;
}

.contenido-principal .contenido-texto{
    margin: 0 auto;
}

.contenido-principal .contenido-texto p{
    text-indent: 30px;
    text-align: justify;
}

/* .clearfix{
    float: none;
    clear: both;
} */

.formato-rojo{
    color: red;
    font-style:oblique;
    font-weight: bold;
}

.formato-relleno{
    color: black;
    background-color: white;
    font-weight: bolder;
}